@font-face {
  font-family: "iconfont"; /* Project id 4333900 */
  src: url('//at.alicdn.com/t/c/font_4333900_8mx9bz3niov.woff2?t=1700133879657') format('woff2'),
       url('//at.alicdn.com/t/c/font_4333900_8mx9bz3niov.woff?t=1700133879657') format('woff'),
       url('//at.alicdn.com/t/c/font_4333900_8mx9bz3niov.ttf?t=1700133879657') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-source-gbaset:before {
  content: "\e600";
  font-size: 24px;
}

.icon-github:before {
  content: "\e64c";
  font-size: 24px;
}

.icon-email-fill:before {
  content: "\e856";
  font-size: 24px;
}

.icon-yumaobi:before {
  content: "\e6e5";
}

.icon-Pensyumaobi:before {
  content: "\e708";
}

.icon-yumaobi1:before {
  content: "\e611";
}

.icon-xiangmu_xiangmuguanli:before {
  content: "\e797";
}

.icon-yumaobi2:before {
  content: "\e60b";
}

.icon-home:before {
  content: "\e62a";
}

.icon-shijianzhou:before {
  content: "\e69a";
}

.icon-guidang:before {
  content: "\e60c";
}

.icon-fenlei:before {
  content: "\e616";
}

.icon-biaoqian:before {
  content: "\e64b";
}

.icon-gitee:before {
  content: "\e615";
}
