li{
	width: 80px;
	text-align: center;
	font-family: 方正舒体;
	font-size: 20px;
	font-weight: 100px;
	list-style: none;
	position: relative;
	display: inline-block;
}
.mar{
	width: 300px;
		height: 520px;
		border: 1px solid black;
		position: relative;
		color: #fff;
		padding: 20px;
		border-radius: 20px;
		text-align: center;
		background-color: #2E3639;

}
.mar1{
	width: 300px;
		height: 520px;
		border: 1px solid black;
		position: relative;
		color: rgb(0, 0, 0);
		padding: 20px;
		border-radius: 20px;
		text-align: center;
		background-color: #f875d1;

}
@media screen and (min-width: 200px) and (max-width:500px){
	li,.mar,.mar1{
		
		left: 5px;
		top: 20px;
	}
}
@media screen and (min-width: 501px) and (max-width:1000px){
	li,.mar,.mar1{
		left: 50px;
		top: 30px;
	}
}
@media screen and (min-width: 1000px){
	li,.mar,.mar1{
		left: 500px;
		top: 70px;
	}
}
.name{
    font-size: 20px;
    font-family: 方正舒体;
    font-weight: 100px;
    
}
.xsp{
    text-align: right;
    font-size: 28px;
    margin-top: 10px;
    width: 250px;
    height: 50px;
    line-height: 40px;
    padding-left: 4px;
    padding-right: 10px;
    margin-bottom: 40px;
    outline: none;
    border-radius: 15px;
    background-color: rgb(136, 162, 163);
}
.buttom{
    
    width: 100%;
    height: 65%;
}
.off {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #00D3BE 5%, #00D5C3 100%);
	background-color:#03A393;
	border-radius:6px;
	border:1px solid #00D3BE;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.off:hover {
	background:linear-gradient(to bottom, #00D3BE 5%,#03A393 100%);
	background-color:#03A393;
}
.off:active {
	position:relative;
	top:1px;
}
.num {
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:11px 17px;
	text-decoration:none;
	text-shadow:-2px 0px 0px #ffffff;
}
.num:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.num:active {
	position:relative;
	top:1px;
}
.del {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.del:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.del:active {
	position:relative;
	top:1px;
}
.func {
    margin: 4px;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #F48D17 5%, #ffee66 100%);
	background-color:#F48D17;
	border-radius:6px;
	border: 1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
 .plus:hover,.func:hover {
	background:linear-gradient(to bottom, #ffec64 5%, #F48D17 100%);
	background-color:#ffab23;
}
.plus:active,.func:active {
	position:relative;
	top:1px;
}
.plus{
    margin: 4px;
    padding: 45px 18px;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border: 1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:25px;
	font-weight:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.pink {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	/* font-weight:bold; */
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.pink:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.pink:active {
	position:relative;
	top:1px;
}
.gray {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	/* font-weight:bold; */
	padding: 6px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.gray:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.gray:active {
	position:relative;
	top:1px;
}

        

        
